@model ASCwed.Models.Navigation.LeftNavigationViewModel

<ul id="nav-mobile" class="sidenav sidenav-fixed">
    <li>
        <div class="user-view">
            <div class="background blue-grey darken-2"></div>
            <a href="#!user"><img class="circle" src="~/images/male.png" alt="User avatar" /></a>
            <a href="#!name"><span class="white-text name">@(string.IsNullOrWhiteSpace(Model.CurrentUser.UserName) ? "Guest" : Model.CurrentUser.UserName)</span></a>
            <a href="#!email"><span class="white-text email">@(string.IsNullOrWhiteSpace(Model.CurrentUser.Email) ? "Not signed in" : Model.CurrentUser.Email)</span></a>
        </div>
    </li>

    @foreach (var item in Model.MenuItems)
    {
        if (item.IsNested && item.NestedItems.Any())
        {
            <li>
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header waves-effect">
                            <i class="material-icons">@item.MaterialIcon</i>
                            @item.DisplayName
                        </a>
                        <div class="collapsible-body">
                            <ul>
                                @foreach (var nestedItem in item.NestedItems)
                                {
                                    <li>
                                        @if (string.Equals(nestedItem.DisplayName, "Reset Password", StringComparison.OrdinalIgnoreCase))
                                        {
                                            <a id="ancrResetPassword" href="#!" class="waves-effect">
                                                @nestedItem.DisplayName
                                                <i class="material-icons right">@nestedItem.MaterialIcon</i>
                                            </a>
                                        }
                                        else if (string.Equals(nestedItem.DisplayName, "Logout", StringComparison.OrdinalIgnoreCase))
                                        {
                                            <a id="ancrLogout" href="#!" class="waves-effect">
                                                @nestedItem.DisplayName
                                                <i class="material-icons right">@nestedItem.MaterialIcon</i>
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="@nestedItem.Link" class="waves-effect">
                                                @nestedItem.DisplayName
                                                <i class="material-icons right">@nestedItem.MaterialIcon</i>
                                            </a>
                                        }
                                    </li>
                                }
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
        }
        else if (string.Equals(item.DisplayName, "Logout", StringComparison.OrdinalIgnoreCase))
        {
            <li>
                <a id="ancrLogout" href="#!" class="waves-effect">
                    <i class="material-icons">@item.MaterialIcon</i>
                    @item.DisplayName
                </a>
            </li>
        }
        else if (string.Equals(item.DisplayName, "Reset Password", StringComparison.OrdinalIgnoreCase))
        {
            <li>
                <a id="ancrResetPassword" href="#!" class="waves-effect">
                    <i class="material-icons">@item.MaterialIcon</i>
                    @item.DisplayName
                </a>
            </li>
        }
        else
        {
            <li>
                <a href="@item.Link" class="waves-effect">
                    <i class="material-icons">@item.MaterialIcon</i>
                    @item.DisplayName
                </a>
            </li>
        }
    }
</ul>
